.card-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.card-item {
    max-width: 18rem;
}

.card-header {
    font-weight: 700;
}

.card-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.no-list {
    font-weight: 300;
    font-size: 100px;
}

.filtro-por-precio {
    display: flex;
    /* align-content: flex-start; */
    /* align-items: flex-start; */
}

